@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');  

body{
    margin : 0;
}

.sticky{
        margin:5px;
        text-align: center;
        font-size:30px;
        line-height: 100px;
        border-bottom :solid 1px black;
        margin-top: 0px;
    }

    .sticky{
        background-color: white;
        position:sticky;
        top:0px;
    }

class{
    font-family: 'Do Hyeon', sans-serif;
    margin-right: 30px;
}

.out {
	border-radius: 25px 25px 25px 25px;
    box-shadow: 5px 5px 15px 5px rgb(200, 200, 200) ;
}

.mainimg, class{
    margin-top: 0px;
}

.logout{
    padding-right: 10px;
    width: 60px;
    display: block;
    text-align: right;
    text-decoration: none;
    color: white;
    font-size: 11px;
    padding-top: 7px;
    padding-right: 20%;
    font-family: 'Gothic A1', sans-serif;
}

.welcome{
    display: block;
    text-align: right;
    color: white;
    font-size: 10px;
    padding-top: 7px;
    padding-right: 25px;
    font-family: 'Gothic A1', sans-serif;
}

.box{
    width: 95%;
    display: block;
    text-align: center;
}

a.logout:hover   { text-decoration:underline }
a.nt:hover   { text-decoration:underline }
a.jindan:hover   { text-decoration:underline }
body{overflow-x:hidden; overflow-y:auto;}
/*여기까지는 상단바

여기서부터 메인 내용 및 시계 css
*/
.main{
    max-width: 800px;
    margin: auto;
}

.clock{
    display: block;
    margin: auto; 
    float: left;
    text-align: center;

    
}

#divClock{
    font-family: 'Do Hyeon', sans-serif;
    display: block;
    text-align: center;
    margin: auto;
    border : 1px solid white;
    width: 400px;
    height: 200px;
    float: left;

    color: black;
    font-size: 50px;

    border-radius: 30px;
    box-shadow: 3px 3px 3px gray;

    margin-top: 30px;
    padding-top: 30px;
    line-height: 80px;

    background-color: rgba(0, 0, 0, 0.1);
}

.notice {
    text-align: left;
    height: 650px;
    margin-top: 100px;
}

.notice > legend{
    margin-top: 30px;

}

.notice > a {
    font-family: 'Gothic A1', sans-serif;
    font-size: 13px;
    vertical-align: middle;
    font-weight: 500;
    text-align: left;
    text-decoration: none;
    color: black;

    margin-left: 20px;
}




.zaga{
    float: left;
    margin-top: 30px;
    margin-left: 80px;
    background-color: rgba(153, 50, 204, 0.5);
    height: 95px;
    width: 315px;

}

.zaga > a {
    display:block;
    text-decoration: none;
    color: white;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 40px;
    padding-top: 25px;
}

.benedu{
    float: left;
    margin-top: 42px;
    margin-left: 80px;
    height: 95px;
    width: 315px;
    background-color: rgba(153, 50, 204, 0.5);
}

.benedu > a{
    display:block;
    text-decoration: none;
    color: white;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 40px;
    padding-top: 25px;
}

 